@font-face {
	font-family: 'Play';
	src:  url('../fonts/Play-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Play';
	src:  url('../fonts/Play.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
